@import "tailwindcss";
@import 'antd/dist/reset.css';


:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@media print {
  body * {
    visibility: hidden !important;
  }

  #printable-invoice,
  #printable-invoice * {
    visibility: visible !important;
  }

  #printable-invoice {
    position: absolute;
    top: 0;
    left: 0;
    width: 794px; /* A4 size */
    height: 1123px;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: transparent !important;
    background-image: url('/invoice-template.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
    z-index: 9999;
  }
}

